.header{
    background-color:rgb(204, 32, 32);
    margin-bottom: 25px;
    color: white;
    height: 70px;
}
.header__title {
    padding-top: 14px;
    text-align: center;
}
.header__icons{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-right: 30px;
}
