* {
    font-family: 'Iceland', cursive;
}
body{
    height: 100%;
    margin: 0;
}
html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 100%;
    margin-bottom: -70px;
  }
  .push {
    height: 70px;
  }