.listnews{
    background-color:#FFD166;
    border: 1px black solid;
    color: #26547C
}
.listnews h2{
    width: 90%;
    margin: 0 auto;
}
.listnews__post{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px black solid;
    border-bottom: none;
}
.listnews__post_info{
    display: flex;
    width: 50%;
}
.listnews__post_info{
    justify-content: space-evenly;
}
.listnews__post_info_comments{
    background-color: #EF476F;
    padding:5px 10px 5px 10px;
    border-radius: 25px;
    color: #FCFCFC;
}
.listnews__post_info_icons{}