.griduser{
    margin-bottom: 25px;
}
.gridUsers__user_name {
    position: absolute;
    color: white;
    bottom: 116px;
    left: 5px;
    width: 349px;
    height: 65px;
    padding-top: 10px;
    padding-left: 15px;
}
.female{
    background-color: #ffebee;
}